<title>BUGFİGHT</title>
  <h1>Welcome to BUGFİGHT</h1>
    BUGFİGHT'da 2 takım olarak savasirsiniz.
    <br>
    İlk forma 1. takim boceklerini yerlestirir.
    <br>
    İkinci forma ise 2. takim boceklerini yerlestirir.
    <br>
    3. ve 4. formlarda sectiginiz bocege powerup verebileceğiniz alandır.
    <br>
    3. forma 1. takim sectigi bocegin konumunu yazar.
    <br>
    4. forma ise 2. takim sectigi bocegin konumu yazar.
    <br>
    Secilen boceklere +1 guc verilir.
    <br>
    Oyuna baslarken once bocek sayınıza karar verin. Eger esit sayıda boceginiz olmazsa oyun sizi uyaracaktır.
    <br>
    Ornek olarak 2 takiminde 4 tane bocegi olsun. Bunların gucleri 1,2,3,4 seklinde olur ve bunları asagıdan yukarıya dogru yazarak yerlestirirsiniz.
    <br>
    1
    <br>
    2
    <br>
    4
    <br>
    3 olarak ornek verilebilir.
    <br>
    1. takimin 1. konumundaki bocek ile 2. takimin 1. konumundaki bocek karşılaşır ve hangisinin gucu yuksekse o kazanır.
    <br>
    2. konumundaki boceginize guc vermek isterseniz kendi powerup form kısmınıza 2 yazarak o bocege +1 guc verebilirsiniz.
    <br>
    Boylelikle ornegimizdeki 2. konumdaki bocegimizin gucu artık 3 olmus olur.
    <br>

    Artık oyuna baslayabilirsiniz. İyi olan kazansın.
    <br>


    {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <textarea name="powerUp1" rows="10" cols="30"></textarea>
        <textarea name="powerUp2" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
